a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
b {
    font-weight: bold;
}
body {
    line-height: 1.09em;
    margin-top: 5px;
}
h1 {
    border-bottom: 1px solid black;
    font-size: 24pt;
    font-weight: bold;
    line-height: 1.05em;
    margin-bottom: 32px;
    padding-bottom: 17px;
}
h3 {
    font-weight: bold;
    line-height: 1.15em;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
}
img {
    border: 5px solid #bbb;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}
p {
    margin: 0;
}
table {
    border-top: 1px solid black;
    text-align: right;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
}
th {
    font-weight: bold;
}
tr td, tr th {
    padding: 3px 20px;
}
tr th:first-child {
    text-align: left;
}
tr td:first-child {
    text-align: left;
}
tr:nth-child(even) {
    background: #eee;
}
#body-iframe {
    padding: 0 30px;
}
@media only screen and (max-width: 900px) {
    #body-iframe {
        padding: 0;
    }
}
.category-card {
    margin-bottom: 0.9em;
}
.category-card img {
    display: inline-block;
    object-fit: cover;
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
}
.category-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}
.category-grid img:hover {
    outline: 1px solid black;
}
@media only screen and (max-width: 900px) {
    .category-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
#contacts {
    background: #efefef;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 95%;
    padding: 0;
    padding-top: 0.7em;
    width: 1200px;
}
#contacts div {
    margin-bottom: 1em;
    padding: 0 0.5em;
    text-align: center;
}
#container {
    display: grid;
    grid-template-columns: 220px 1fr;
}
@media only screen and (max-width: 900px) {
    #container {
        display: flex;
        flex-direction: column-reverse;
    }
}
#header {
    border-bottom: 1px solid black;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 95%;
    padding: 10px 0;
    width: 1200px;
}
#header-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#header-flexbox div {
    padding: 0 1em;
    font-weight: bold;
}
#header-img {
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 95%;
    width: 600px;
}
#opening {
    font-weight: bold;
    font-size: 13pt;
    margin-bottom: 20px;
    margin-top: -9px;
    text-align: center;
}
.placeholder-image {
    border: 1px solid black;
    height: 256px;
    width: 256px;
}
.product-info-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 256px;
}
@media only screen and (max-width: 660px) {
    .product-info-wrapper {
        display: block;
    }
}
.product-info-wrapper li {
    list-style: initial;
    margin-left: 2em;
}
.product-image > img {
    width: 100%;
}
#product-frame {
    border: none;
    height: 100px;
    width: 100%;
}
#sidebar {
    padding-bottom: 100px;
}
#sidebar h3 {
    margin-bottom: 0.6em;
}
#sidebar li {
    list-style-type: initial;
    margin-left: 1.3em;
}
#wrapper {
    display: block;
    height: 600px;
    margin: 0 auto;
    max-width: 95%;
    width: 1200px;
}

