#hero-container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 3fr 3fr;
  height: 480px;
}
@media (max-width: 700px) {
  #hero-container {
    grid-template-columns: 2fr 5fr;
  }
}

.hero-img {
  height: 100%;
  margin: 0 !important;
  object-fit: cover;
  padding: 0 !important;
}

#hero-rocket {
  display: block;
}
@media (max-width: 700px) {
  #hero-rocket {
    display: none !important;
  }
}

#hero-vertical {
  display: grid;
  gap: 16px;
  grid-template-rows: 1fr 1fr;
  height: inherit;
}
#hero-vertical div {
  display: inline-block;
  overflow: hidden;
}

@font-face {
  font-family: "Cabin";
  src: url("assets/cabin-regular.ttf");
}
@font-face {
  font-family: "Cabin";
  font-weight: bold;
  src: url("assets/cabin-semibold.ttf");
}
@font-face {
  font-family: "Intel One Mono";
  src: url("assets/intel-one-mono.ttf");
}
a {
  color: #1C3C83;
  text-decoration: none;
}

a:hover {
  color: #C93E30;
}

body {
  font-family: "Cabin", "Trebuchet MS", sans-serif;
  font-size: 13.5pt;
  margin-bottom: 200px;
  min-width: 300px !important;
}

code, pre {
  color: #C93E30;
  font-family: "Intel One Mono", monospace;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 27pt;
  color: #1C3C83;
  margin-bottom: 27pt;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
  margin-top: 40px;
}

p, ul, h3 {
  color: #555;
  line-height: 23px;
  hyphens: auto;
  margin-bottom: 16px;
}

p > code {
  font-size: 12.75pt;
}

#container {
  display: block;
  margin: 90px auto;
  width: 830px;
  max-width: 80%;
}
@media (max-width: 700px) {
  #container {
    margin: 60px auto;
  }
}

#copy img {
  display: block;
  border-radius: 3px;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  width: 100%;
}

.date {
  color: #1C3C83;
  cursor: pointer;
  border: 1px solid #1C3C83;
  border-radius: 4px;
  font-size: 12pt;
  margin-bottom: 12px;
  padding: 3px 7px;
  width: fit-content;
}

.date:hover {
  background: #C93E30;
  border-color: #C93E30;
  color: #fff;
}

#header {
  margin-bottom: 60px;
}

#header > * {
  font-size: 14pt;
}

.header-btn {
  background: #1C3C83;
  border-radius: 999px;
  color: white;
  font-weight: bold;
  margin-left: 20px !important;
}

.header-btn:hover {
  background: #C93E30;
}

.header-btn > a {
  color: white !important;
}

#header-desktop-links {
  display: block;
}
@media (max-width: 700px) {
  #header-desktop-links {
    display: none;
  }
}

.header-link {
  float: right;
  margin-left: 10px;
  padding: 14px 28px;
}

#header-logo {
  cursor: pointer;
  float: left;
  height: 48px;
  width: auto;
}

#header-menu-btn {
  cursor: pointer;
  display: none;
  padding: 7px 0 !important;
}
@media (max-width: 700px) {
  #header-menu-btn {
    display: block;
  }
}

#header-menu-btn-img {
  height: 30px;
  width: auto;
}

.journal-list-pad {
  border-top: 1px solid #CCC;
  display: block;
  height: 29px;
  margin-top: 29px;
  width: 100%;
}

.journal-list-title {
  font-size: 20pt;
  margin-bottom: 12px;
}

#mobile-menu {
  border-bottom: 1px solid #CCC;
  display: none;
  margin-top: 34px;
}

#mobile-menu > li {
  background: #fff;
  border-top: 1px solid #CCC;
  padding: 15px 0;
}

.two-column {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
@media (max-width: 700px) {
  .two-column {
    display: block;
    padding-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
