#hero-container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 3fr 4fr;
  height: 540px;
  margin-bottom: 37px;
}
@media (max-width: 700px) {
  #hero-container {
    display: block;
    height: fit-content;
  }
}

.hero-img {
  height: 100%;
  margin: 0 !important;
  object-fit: cover;
  padding: 0 !important;
}
@media (max-width: 700px) {
  .hero-img {
    height: auto;
  }
}

#hero-hide-mobile {
  display: block;
}
@media (max-width: 700px) {
  #hero-hide-mobile {
    display: none !important;
  }
}

#hero-title {
  height: 10px !important;
}

#hero-vertical {
  display: grid;
  gap: 16px;
  grid-template-rows: 3fr 5fr;
  height: inherit;
}
#hero-vertical div {
  display: inline-block;
  overflow: hidden;
}
@media (max-width: 700px) {
  #hero-vertical {
    grid-template-rows: auto auto;
  }
}

/* Outbound logos */
.ob-logo-img {
  margin: 0 !important;
  padding: 0 !important;
}

#ob-logos {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(3, 1fr);
}
#ob-logos div {
  background: #1C3C83;
  border-radius: 3px;
  margin-bottom: 0;
  padding: 0;
}
@media (max-width: 700px) {
  #ob-logos {
    gap: 4px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@font-face {
  font-family: "Cabin";
  src: url("assets/cabin-regular.ttf");
}
@font-face {
  font-family: "Cabin";
  font-weight: bold;
  src: url("assets/cabin-semibold.ttf");
}
@font-face {
  font-family: "Intel One Mono";
  src: url("assets/intel-one-mono.ttf");
}
a {
  color: #1C3C83;
  text-decoration: none;
}

a:hover {
  color: #C93E30;
}

a:focus-visible, .focus-outline:focus-visible {
  outline: 1px solid #C93E30;
}

body {
  font-family: "Cabin", "Trebuchet MS", sans-serif;
  font-size: 13.5pt;
  margin-bottom: 200px;
  min-width: 300px !important;
}

code, pre {
  color: #C93E30;
  font-family: "Intel One Mono", monospace;
  letter-spacing: -0.05em;
}

h1 {
  font-size: 26pt;
  color: #1C3C83;
  margin-bottom: 35px;
}

h2 {
  font-size: 25pt;
  color: #1C3C83;
  margin-bottom: 25pt;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
  margin-top: 40px;
}

p, ul, h3 {
  color: #555;
  line-height: 24px;
  hyphens: auto;
  margin-bottom: 16px;
}
p a, ul a, h3 a {
  border-bottom: 1px solid #1C3C83;
}
p a:hover, ul a:hover, h3 a:hover {
  border-bottom: 1px solid #C93E30;
}

p > code {
  font-size: 12.75pt;
}

#container {
  display: block;
  margin: 90px auto;
  width: 910px;
  max-width: 80%;
}
@media (max-width: 700px) {
  #container {
    margin: 60px auto;
  }
}

#copy img {
  display: block;
  border-radius: 3px;
  margin-bottom: 30px;
  width: 100%;
}

.date {
  color: #1C3C83;
  cursor: pointer;
  border: 1px solid #1C3C83;
  border-radius: 4px;
  font-size: 12pt;
  margin-bottom: 12px;
  padding: 3px 7px;
  width: fit-content;
}

.date:hover {
  background: #C93E30;
  border-color: #C93E30;
  color: #fff;
}

.external-icon {
  display: inline-block;
  height: 19px;
  margin-left: 1px;
  margin-bottom: -4px;
  margin-top: -16px;
}

#footer-container {
  border-radius: 3px;
  background: #f7f7f7;
  margin-top: 150px;
  padding: 14px 0;
  width: 100%;
}
#footer-container p {
  color: #333;
  font-size: 11.5pt;
  margin: 0 !important;
  padding: 0 14px !important;
  text-align: right;
}

#header {
  margin-bottom: 60px;
}

#header > * {
  font-size: 14pt;
}

.header-btn {
  background: #1C3C83;
  border-radius: 999px;
  color: white;
  display: block;
  font-weight: bold;
  padding: 11px 16px 8px;
}

.header-btn:hover {
  background: #C93E30;
}

.header-btn-container {
  float: left;
  margin-left: 20px !important;
}
@media (max-width: 910px) {
  .header-btn-container {
    margin-left: 10px !important;
  }
}

.header-btn-bsky {
  background: none;
  margin-right: 20px !important;
}

.header-btn-bsky:hover {
  background: #efefef;
  border: 1px solid #C93E30;
  padding: 10px 15px 7px !important;
}

#header-desktop-links {
  display: block;
  float: right;
}
#header-desktop-links a {
  cursor: pointer;
}
@media (max-width: 700px) {
  #header-desktop-links {
    display: none;
  }
}

.header-link {
  float: left;
  margin-left: 10px;
  padding: 14px 28px;
}
@media (max-width: 910px) {
  .header-link {
    margin-left: 0px;
    padding: 14px 20px;
  }
}
.header-link a:hover {
  border-bottom: 1px solid #C93E30;
}

#header-logo {
  display: block;
  height: 100%;
  width: auto;
}

#header-logo:hover {
  border-bottom: 1px solid #1C3C83;
  margin-bottom: -4px;
  padding-bottom: 4px;
}

#header-logo-container {
  cursor: pointer;
  display: block;
  float: left;
  height: 48px;
  width: fit-content;
}

#header-menu-btn {
  cursor: pointer;
  display: none;
  float: right;
  padding: 7px 0 !important;
}
@media (max-width: 700px) {
  #header-menu-btn {
    display: block;
  }
}

#header-menu-btn-img {
  height: 30px;
  width: auto;
}

.journal-list-pad {
  border-top: 1px solid #CCC;
  display: block;
  height: 29px;
  margin-top: 29px;
  width: 100%;
}

.journal-list-title {
  font-size: 20pt;
  margin-bottom: 16px;
}

#mobile-menu {
  border-bottom: 1px solid #CCC;
  display: none;
  margin-top: 34px;
}
#mobile-menu a > div {
  background: #fff;
  border-top: 1px solid #CCC;
  padding: 15px 8px;
}
#mobile-menu a > div:hover {
  background: #eee;
}

#mobile-top-ribbon {
  display: none;
  height: 36px;
  overflow: hidden;
}
#mobile-top-ribbon img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
@media (max-width: 700px) {
  #mobile-top-ribbon {
    display: block;
  }
}

.sep {
  display: block;
  height: 56px;
}

.two-column {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
@media (max-width: 700px) {
  .two-column {
    display: block;
    padding-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
