#hero-container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 3fr 4fr;
  height: 540px;
  margin-bottom: 37px;
}
@media (max-width: 700px) {
  #hero-container {
    display: block;
    height: fit-content;
  }
}

.hero-img {
  height: 100%;
  margin: 0 !important;
  object-fit: cover;
  padding: 0 !important;
}
@media (max-width: 700px) {
  .hero-img {
    height: auto;
  }
}

#hero-hide-mobile {
  display: block;
}
@media (max-width: 700px) {
  #hero-hide-mobile {
    display: none !important;
  }
}

#hero-title {
  height: 10px !important;
}

#hero-vertical {
  display: grid;
  gap: 16px;
  grid-template-rows: 3fr 5fr;
  height: inherit;
}
#hero-vertical div {
  display: inline-block;
  overflow: hidden;
}
@media (max-width: 700px) {
  #hero-vertical {
    grid-template-rows: auto auto;
  }
}

/* Outbound logos */
.ob-logo-img {
  margin: 0 !important;
  padding: 0 !important;
}

#ob-logos {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}
#ob-logos div {
  background: none;
  border-radius: 3px;
  margin-bottom: 0;
}
@media (max-width: 700px) {
  #ob-logos div {
    margin-bottom: 10px;
  }
}
#ob-logos div:hover {
  background: #efefef;
}
@media (max-width: 700px) {
  #ob-logos {
    display: block;
  }
}

@font-face {
  font-family: "Cabin";
  src: url("assets/cabin-regular.ttf");
}
@font-face {
  font-family: "Cabin";
  font-weight: bold;
  src: url("assets/cabin-semibold.ttf");
}
@font-face {
  font-family: "Intel One Mono";
  src: url("assets/intel-one-mono.ttf");
}
a {
  color: #1C3C83;
  text-decoration: none;
}

a:hover {
  color: #C93E30;
}

body {
  font-family: "Cabin", "Trebuchet MS", sans-serif;
  font-size: 13.5pt;
  margin-bottom: 200px;
  min-width: 300px !important;
}

code, pre {
  color: #C93E30;
  font-family: "Intel One Mono", monospace;
  letter-spacing: -0.05em;
}

h1 {
  background: #1C3C83;
  border-radius: 3px;
  color: #fff;
  font-size: 14.5pt;
  margin-bottom: 31pt;
  margin-left: -14px;
  padding: 17px 0 18px;
  text-transform: uppercase;
}
h1 span {
  margin: 0 21px;
}

h2 {
  font-size: 25pt;
  color: #1C3C83;
  margin-bottom: 25pt;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
  margin-top: 40px;
}

p, ul, h3 {
  color: #555;
  line-height: 23px;
  hyphens: auto;
  margin-bottom: 16px;
}

p > code {
  font-size: 12.75pt;
}

#container {
  display: block;
  margin: 90px auto;
  width: 910px;
  max-width: 80%;
}
@media (max-width: 700px) {
  #container {
    margin: 60px auto;
  }
}

#copy img {
  display: block;
  border-radius: 3px;
  margin-bottom: 30px;
  width: 100%;
}

.date {
  color: #1C3C83;
  cursor: pointer;
  border: 1px solid #1C3C83;
  border-radius: 4px;
  font-size: 12pt;
  margin-bottom: 12px;
  padding: 3px 7px;
  width: fit-content;
}

.date:hover {
  background: #C93E30;
  border-color: #C93E30;
  color: #fff;
}

#footer-container {
  margin-top: 90px;
}
#footer-container p {
  color: #777;
  font-size: 11.5pt;
  text-align: right;
}

#header {
  margin-bottom: 60px;
}

#header > * {
  font-size: 14pt;
}

.header-btn {
  background: #1C3C83;
  border-radius: 999px;
  color: white;
  font-weight: bold;
  margin-left: 20px !important;
}

.header-btn:hover {
  background: #C93E30;
}

.header-btn > a {
  color: white !important;
}

#header-desktop-links {
  display: block;
}
@media (max-width: 700px) {
  #header-desktop-links {
    display: none;
  }
}

.header-link {
  float: right;
  margin-left: 10px;
  padding: 14px 28px;
}

#header-logo {
  cursor: pointer;
  float: left;
  height: 48px;
  width: auto;
}

#header-menu-btn {
  cursor: pointer;
  display: none;
  padding: 7px 0 !important;
}
@media (max-width: 700px) {
  #header-menu-btn {
    display: block;
  }
}

#header-menu-btn-img {
  height: 30px;
  width: auto;
}

.journal-list-pad {
  border-top: 1px solid #CCC;
  display: block;
  height: 29px;
  margin-top: 29px;
  width: 100%;
}

.journal-list-title {
  font-size: 18pt;
  margin-bottom: 12px;
}

#mobile-menu {
  border-bottom: 1px solid #CCC;
  display: none;
  margin-top: 34px;
}
#mobile-menu a > div {
  background: #fff;
  border-top: 1px solid #CCC;
  padding: 15px 8px;
}
#mobile-menu a > div:hover {
  background: #eee;
}

.sep {
  display: block;
  height: 37px;
}

.two-column {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
@media (max-width: 700px) {
  .two-column {
    display: block;
    padding-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
