a { color: #000; }
body { font-family: monospace; padding: 1em; }
h1 { margin-bottom: 1em; text-align: center; }
h2 { margin-bottom: 0.75em; }
h3 { margin-bottom: 1em; text-align: right; }
ol { list-style-type: lower-roman; margin-left: 4em; }
p { hyphens: auto; margin-bottom: 0.5em }
