/* 
 * Sly Llama
 * Stylesheet for site map
 */

 .stb_blank {
    display: block;
    display: block;
    float: left;
    height: 26px;
    margin-left: 6px;
    margin-top: 4px;
    width: 26px;
}

.stb_count {
    background: rgb(196, 94, 80);
    border-radius: 6px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    height: 22px;
    text-align: center;
    width: 24px;
}

 .stb_cwrapper {
    display: block;
    display: block;
    float: left;
    height: 26px;
    margin-left: 6px;
    margin-top: 4px;
    width: 26px;
}

 .stb_hdr {
     background: #EEE;
 }

 .stb_img {
     background: none;
     display: block;
     float: left;
     height: 26px;
     margin-left: 6px;
     margin-top: 4px;
     width: 26px;
 }

 .stb_row {
     border: 1px solid #BBB;
     display: block;
     height: 34px;
     margin-top: -1px;
     overflow: hidden;
     width: 100%;
     white-space: nowrap;
 }

 /* Text elements */

 .stb_hdr_txt {
    display: block;
    float: left;
    font-family: 'Alegreya Sans', sans-serif;
    margin-left: 8px;
    margin-top: 4px;
 }

 .stb_link {
    font-family: 'Alegreya sans', sans-serif;
    text-decoration: none;
}