@use "variables" as *;

#img-view-container {
    background: rgba(0, 0, 0, 0.8);
    cursor: zoom-out;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;

    .close-button {
        border-radius: 3px;
        padding: 6px;
        position: absolute;
        right: $headlink-padding;
        top: $headlink-padding;
        text-align: center;

        img {
            margin: 0 !important;
            padding: 0 !important;
            width: 32px;
        }
    }

    .close-button:hover {
        background: $accent-ochre;
        color: #fff;
    }

    #img-view-inner {
        height: 100%;
        margin: 0 5%;
        width: 95%;
    }

    #img-view-inner > img {
        object-fit: contain;
        object-position: 50% 50%;
        height: inherit;
        width: inherit;
    }
}
