@use "scss/variables" as *;
@use "scss/home-page";

@font-face {
    font-family: 'Cabin';
    src: url('assets/cabin-regular.ttf');
}

@font-face {
    font-family: 'Cabin';
    font-weight: bold;
    src: url('assets/cabin-semibold.ttf');
}

@font-face {
    font-family: 'Intel One Mono';
    src: url('assets/intel-one-mono.ttf');
}

a {
    color: $accent-blue;
    text-decoration: none;
}

a:hover {
    color: $accent-ochre;
}

body {
    font-family: 'Cabin', 'Trebuchet MS', sans-serif;
    font-size: $copy-font-size;
    margin-bottom: 200px;
    min-width: 300px !important;
}

code, pre {
    color: $accent-ochre;
    font-family: 'Intel One Mono', monospace;
    letter-spacing: -0.05em;
}

h1 {
    font-size: $copy-title-size + 1pt;
    color: $accent-blue;
    margin-bottom: 35px;
}

h2 {
    font-size: $copy-title-size;
    color: $accent-blue;
    margin-bottom: $copy-title-size;
}

h3 {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 40px;
}

p, ul, h3 {
    color: $copy-color;
    line-height: $copy-line-height;
    hyphens: auto;
    margin-bottom: $copy-para-margin;
}

p > code {
    font-size: $copy-font-size - 1px;
}

#container {
    display: block;
    margin: 90px auto;
    width: $desktop-width;
    max-width: 80%;

    @media (max-width: $mobile-width) {
        margin: 60px auto;
    }
}

#copy {
    img {
        display: block;
        border-radius: 3px;
        margin-bottom: 30px;
        width: 100%;
    }
}

.date {
    color: $accent-blue;
    cursor: pointer;
    border: 1px solid $accent-blue;
    border-radius: 4px;
    font-size: $copy-font-size - 2px;
    margin-bottom: 12px;
    padding: 3px 7px;
    width: fit-content;
}

.date:hover {
    background: $accent-ochre;
    border-color: $accent-ochre;
    color: #fff;
}

.external-icon {
    display: inline-block;
    height: 21px;
    margin-left: 1px;
    margin-bottom: -5px; 
    margin-top: -16px;
}

#footer-container {
    border-radius: 3px;
    background: #f7f7f7;
    margin-top: 90px;
    padding: 14px 0;
    width: 100%;

    p {
        color: #777;
        font-size: $copy-font-size - 2pt;
        margin: 0 !important;
        padding: 0 14px !important;
        text-align: right;
    }
}

#header {
    margin-bottom: 60px;
}

#header > * {
    font-size: 14pt;
}

.header-btn {
    background: $accent-blue;
    border-radius: 999px;
    color: white;
    font-weight: bold;
    float: right;
    margin-left: $headlink-margin + 10px !important;
    padding: 11px 16px 8px;

    @media (max-width: $desktop-width) {
        margin-left: $headlink-margin !important;
    }
}

.header-btn:hover {
    background: $accent-ochre;
}

.header-btn-bsky {
    background: none;
    margin-right: 20px !important;
}

.header-btn-bsky:hover {
    background: #efefef;
}

#header-desktop-links {
    display: block;

    a {
        cursor: pointer;
    }

    @media (max-width: $mobile-width) {
        display: none;
    }
}

.header-link {
    float: right;
    margin-left: $headlink-margin;
    padding: $headlink-padding $headlink-padding * 2;

    @media (max-width: $desktop-width) {
        margin-left: 0px;
        padding: $headlink-padding 20px;
    }
}

#header-logo {
    cursor: pointer;
    float: left;
    height: 48px;
    width: auto;
}

#header-menu-btn {
    cursor: pointer;
    display: none;
    padding: 7px 0 !important;
    
    @media (max-width: $mobile-width) {
        display: block;
    }
}

#header-menu-btn-img {
    height: 30px;
    width: auto;
}

.journal-list-pad {
    border-top: 1px solid $separator-color;
    display: block;
    height: 29px;
    margin-top: 29px;
    width: 100%;
}

.journal-list-title {
    font-size: 20pt;
    margin-bottom: 16px;
}

#mobile-menu {
    border-bottom: 1px solid $separator-color;
    display: none;
    margin-top: 34px;

    a > div {
        background: #fff;
        border-top: 1px solid $separator-color;
        padding: 15px 8px;
    }

    a > div:hover {
        background: #eee;
    }
}

.sep {
    display: block;
    height: $sep-height;
}

.two-column {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 0;

    @media (max-width: $mobile-width) {
        display: block;
        padding-top: 10px;
    }
}
