body {
    background: url("bg.jpg") repeat;
    color: #DBD5CA;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 11pt;
}

p {
    margin-bottom: 8px;
    line-height: 0.95em;
}

#container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

#header {
    border-bottom: 1px solid #c9a232;
}

#sidebar {
    border-right: 1px solid #c9a232;
    padding: 2px;
}

.sb-linkbutton {
    background: #c9a232;
    background: linear-gradient(0deg,
        rgba(201, 162, 50, 1) 0%,
        rgba(201, 162, 50, 1) 76%,
        rgba(235, 196, 80, 1) 82%,
        rgba(235, 196, 80, 1) 100%);
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 1px 0px #fff inset;
    color: #331a08;
    font-family: "Georgia", serif;
    font-size: 11pt;
    font-style: italic;
    margin-bottom: 1px;
    padding: 5px;
}

#content {
    padding: 6px;
}

#wrapper {
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #c9a232;
    box-shadow: 0px 3px 7px #000;

    display: block;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 95%;
    width: 800px;
}

