@use "variables" as *;

$gap: 16px;
$hero-height: 540px;

#hero-container {
    display: grid;
    gap: $gap;
    grid-template-columns: 1fr 3fr 4fr;
    height: $hero-height;
    margin-bottom: 37px;

    @media (max-width: $mobile-width) {
        display: block;
        height: fit-content;
    }
}

.hero-img {
    height: 100%;
    margin: 0 !important;
    object-fit: cover;
    padding: 0 !important;

    @media (max-width: $mobile-width) {
        height: auto;
    }
}

.hero-hide-mobile {
    display: block;

    @media (max-width: $mobile-width) {
        display: none !important;
    }
}

#hero-title {
    height: 10px !important;
}

#hero-vertical {
    display: grid;
    gap: $gap;
    grid-template-rows: 3fr 5fr;
    height: inherit;

    div {
        display: inline-block;
        overflow: hidden;
    }

    @media (max-width: $mobile-width) {
        grid-template-rows: auto auto;
    }
}

/* Outbound logos */

.ob-logo-img {
    margin: 0 !important;
    padding: 0 !important;
}

#ob-logos {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);

    div {
        background: url("assets/words-bg.jpg") repeat;
        border-radius: 3px;
        margin-bottom: 0;
        padding: 0;
    }

    @media (max-width: $mobile-width) {
        gap: 4px;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 2-up presentations */

.present {
    display: grid;
    gap: 16px;

    div {
        overflow-y: hidden;
        margin-bottom: 20px;
        max-height: 450px;

        @media (max-width: $mobile-width) {
            max-height: initial;
        }
    }

    div > div {
        display: block;
        height: inherit;
        padding: 28px;
    }

    div > img {
        display: block;
        height: 100%;
        margin: 0 !important;
        object-fit: cover;
        object-position: center center;
        padding: 0;
        width: inherit;
    }

    h3 {
        margin-top: 0;
    }

    @media (max-width: $mobile-width) {
        display: flex;
        flex-flow: row wrap;
        gap: 0;
        margin-bottom: 20px;
    }
}

.present-left {
    grid-template-columns: 4fr 3fr;

    div:nth-child(2) {
        background: #efefef;
        border-radius: 3px;
    }
}

.present-right {
    grid-template-columns: 3fr 4fr;

    div:first-child {
        background: #efefef;
        border-radius: 3px;
    }
}

/* Swap orders */

@media (max-width: $mobile-width) {
    .p2 {
        order: 1;
    }

    .p1 {
        order: 2;
    }
}
