@use "variables" as *;

$gap: 16px;
$hero-height: 540px;

#hero-container {
    display: grid;
    gap: $gap;
    grid-template-columns: 1fr 3fr 4fr;
    height: $hero-height;
    margin-bottom: 37px;

    @media (max-width: $mobile-width) {
        display: block;
        height: fit-content;
    }
}

.hero-img {
    height: 100%;
    margin: 0 !important;
    object-fit: cover;
    padding: 0 !important;

    @media (max-width: $mobile-width) {
        height: auto;
    }
}

#hero-hide-mobile {
    display: block;

    @media (max-width: $mobile-width) {
        display: none !important;
    }
}

#hero-title {
    height: 10px !important;
}

#hero-vertical {
    display: grid;
    gap: $gap;
    grid-template-rows: 3fr 5fr;
    height: inherit;

    div {
        display: inline-block;
        overflow: hidden;
    }

    @media (max-width: $mobile-width) {
        grid-template-rows: auto auto;
    }
}

/* Outbound logos */

.ob-logo-img {
    margin: 0 !important;
    padding: 0 !important;
}

#ob-logos {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);

    div {
        background: none;
        border-radius: 3px;
        margin-bottom: 0;

        @media (max-width: $mobile-width) {
            margin-bottom: 10px;
        }
    }

    div:hover {
        background: #efefef;
    }

    @media (max-width: $mobile-width) {
        display: block;
    }
}
