// Colours
$accent-blue: #1C3C83;
$accent-ochre: #C93E30;
$copy-color: #555;
$separator-color: #CCC;

// Type parameters
$copy-font-size: 13.5pt;
$copy-title-size: 25pt;
$copy-line-height: 24px;
$copy-para-margin: 16px;

// Dimensions
$desktop-width: 910px;
$headlink-padding: 14px;
$headlink-margin: 10px; // additional spacing for header links
$mobile-width: 700px; // mobile styling below this width
$sep-height: 56px;
