@font-face {
    font-family: "Tahoma Embedded";
    src: url("fonts/tahoma.ttf");
}

body {
    background: url("../assets/space.gif") repeat;
    color: #333;
    font-family: "Tahoma Embedded", "Tahoma", sans-serif;
    font-size: 14px !important;
    line-height: 1.24em;
}

h1 {
    border-bottom: 1px dashed #333;
    font-family: "Verdana", sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

p {
    margin-bottom: 0.9em;
}

#banner {
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid black;
}

.box {
    background: #d7dfd4;
    border-radius: 2px;
    padding: 6px;
}

.media-container {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    align-items: center;;
}

.media-container > img {
    cursor: pointer;
}

.media-container > img:hover {
    filter: brightness(110%);
}

.sidebar {
    height: fit-content;
    padding-bottom: 1em;
}

.sidebar-header {
    background: #293738;
    border-radius: 2px;
    color: white;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    padding: 4px;
}

#container {
    display: block;
    margin: 24px auto;
    max-width: 95%;
    width: 1024px;
}

#content-wrapper {
    padding: 20px;
}

#content-wrapper > img {
    border: 1px solid black;
    display: block;
    margin: 1em auto;
    max-width: 100%;
}

#content-wrapper > p {
    margin-right: 30px;
}

#grid-wrapper {
    display: grid;
    gap: 4px;
    grid-template-columns: 200px 1fr 200px;
    width: 100%;
}

@media only screen and (max-width: 900px) {
    #grid-wrapper {
        grid-template-columns: 200px 1fr;
    }

    #sidebar-right {
        display: none;
    }
}
