@use "scss/variables" as *;
@use "scss/home-page";
@use "scss/img-view";

@font-face {
    font-family: 'Cabin';
    src: url('assets/cabin-regular.ttf');
}

@font-face {
    font-family: 'Sitelen';
    src: url('assets/sitelen.ttf');
}

@font-face {
    font-family: 'Cabin';
    font-weight: bold;
    src: url('assets/cabin-semibold.ttf');
}

@font-face {
    font-family: 'Intel One Mono';
    src: url('assets/intel-one-mono.ttf');
}

@font-face {
    font-family: 'Joffi';
    src: url('assets/joffi.ttf');
}

.toki-pona {
    font-family: "Sitelen";
    text-transform: lowercase;
}

a {
    color: $accent-blue;
    text-decoration: none;
}

a:hover {
    color: $accent-ochre;
}

a:focus-visible, .focus-outline:focus-visible {
    outline: 3px solid $accent-ochre;
}

b {
    font-weight: 700;
}

blockquote {
    border-left: 1px solid $accent-blue;
    padding-left: 20px;

    p {
        color: #777;
    }
}

body {
    font-family: 'Cabin', 'Trebuchet MS', sans-serif;
    font-size: $copy-font-size;
    margin-bottom: 200px;
    min-width: 300px !important;
}

code, pre {
    color: $accent-ochre;
    font-family: 'Intel One Mono', monospace;
    letter-spacing: -0.05em;
}

h1 {
    font-family: "Joffi", "Georgia", sans-serif;
    font-size: $copy-title-size + 12pt;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $accent-blue;
    margin-bottom: 12px;
    min-width: 300px;
    max-width: 90%;
    width: fit-content;
    word-wrap: break-word;

    @media (max-width: $mobile-width) {
        font-size: $copy-title-size + 8pt;
    }
}

h2 {
    font-size: $copy-title-size;
    color: $accent-blue;
    line-height: 1.1em;
    margin-bottom: $copy-title-size;
}

h3 {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 40px;
}

h4 {
    font-size: $copy-font-size;
    color: $accent-blue;
    line-height: 1.1em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 2.5em;
}

i {
    font-style: italic;
}

p, #copy > ul, li, h3 {
    color: $copy-color;
    line-height: $copy-line-height;
    hyphens: auto;
    margin-bottom: $copy-para-margin;

    a {
        color: $accent-ochre !important;
        border-bottom: 1px solid $accent-ochre;
    }

    a:hover {
        color: $accent-blue !important;
        border-bottom: 1px solid $accent-blue;
    }
}

p > code {
    font-size: $copy-font-size - 1px;
}

/* Table styles */
table {
    border-collapse: collapse;
    color: $copy-color;
    display: inline-table;
    font-size: $copy-font-size - 1;
    line-height: $copy-line-height * 0.9;
    hyphens: auto;
    margin-top: 26px !important;
    width: 100%;
}
td {
    border: 0 !important;
    padding: 0.75em 0;
}
td:first-child {
    font-weight: bold;
    min-width: 15%;
    padding-right: 1em;
}
td > ul {
    margin-left: 1.5em !important;
}
td > ul > li {
    color: $copy-color;
    line-height: $copy-line-height * 0.9;
    margin-bottom: 0;
    padding-left: 0.75em !important;
}
tr { border-bottom: 1px solid $separator-color; }
tr:first-child { border-top: 1px solid $separator-color; }

.button {
    background: $accent-blue;
    background: linear-gradient(90deg, rgba(28, 60, 131, 1) 0%, rgba(27, 92, 117, 1) 25%, rgba(27, 92, 117, 1) 75%, rgba(28, 60, 131, 1) 100%);
    border-radius: 3px;
    color: #fff;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 7px;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    span {
        margin: 0 10px;
    }
}

#bg {
    bottom: 0;
    opacity: 0.69;
    position: fixed;
    right: 0;
    width: 50%;
    z-index: -10;

    @media (max-width: $desktop-width) {
        opacity: 0.35;
        width: 90%;
    }
}

.button:hover {
    outline: 1px solid #222;
}

.button-subtle {
    background: $copy-color;
}

#container {
    display: block;
    margin: 90px auto;
    width: $desktop-width;
    max-width: 80%;

    @media (max-width: $mobile-width) {
        margin: 60px auto;
    }
}

#copy {
    img:not(.external-icon) {
        display: block;
        border-radius: 2px;
        margin-bottom: 30px;
        width: 100%;
    }

    ul {
        margin-left: 2.5em;

        li {
            list-style-type: initial;
            padding-left: 1em;
        }
    }
}

.caption {
    color: #777;
    font-style: italic;
    margin-bottom: 1.65em;
    margin-top: -0.7em;
    text-align: center;
}

.date {
    color: $accent-blue;
    cursor: pointer;
    border: 1px solid $accent-blue;
    border-radius: 4px;
    font-size: $copy-font-size - 2px;
    margin-bottom: 12px;
    padding: 3px 7px;
    width: fit-content;
}

.date:hover {
    background: $accent-ochre;
    border-color: $accent-ochre;
    color: #fff;
}

.disclaimer {
    opacity: 0.5;
    transition: opacity 0.1s;
}

.disclaimer:hover {
    opacity: 1.0;
}

.draft-tag {
    background: $accent-ochre;
    border-color: $accent-ochre;
    color: #fff;
}

.external-icon {
    display: inline-block;
    height: 19px;
    margin-left: 1px;
    margin-bottom: -4px; 
    margin-top: -16px;
    width: 19px;
}

#footer-container {
    border: 1px solid #d4d4d4;
    border-radius: 19px;
    box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.14);
    background: #f7f7f7;
    margin-top: 150px;
    padding: 21px 0;
    width: 100%;

    p {
        color: #333;
        font-size: $copy-font-size - 2pt;
        margin: 0 !important;
        padding: 0 14px !important;
        text-align: right;
    }
}

#header {
    margin-bottom: 60px;
}

#header > * {
    font-size: 14pt;
}

.header-btn {
    background: $accent-blue;
    border-radius: 999px;
    color: white;
    display: block;
    font-weight: bold;
    padding: 11px 16px 8px;
}

.header-btn:hover {
    background: $accent-ochre;
}

.header-btn-container {
    float: left;
    margin-left: $headlink-margin + 10px !important;

    @media (max-width: $desktop-width) {
        margin-left: $headlink-margin !important;
    }
}

.header-btn-bsky {
    background: none;
    margin-right: 20px !important;
}

.header-btn-bsky:hover {
    background: #efefef;
    outline: 1px solid $accent-ochre;
}

#header-desktop-links {
    display: block;
    float: right;

    a {
        cursor: pointer;
    }

    @media (max-width: $mobile-width) {
        display: none;
    }
}

.header-link {
    float: left;
    margin-left: $headlink-margin;
    padding: $headlink-padding $headlink-padding * 2;

    @media (max-width: $desktop-width) {
        margin-left: 0px;
        padding: $headlink-padding 20px;
    }

    a:hover {
        border-bottom: 1px solid $accent-ochre;
    }
}

#header-logo {
    display: block;
    height: 100%;
    width: auto;
}

#header-logo:hover {
    border-bottom: 1px solid $accent-ochre;
    margin-bottom: -4px;
    padding-bottom: 4px;
}

#header-logo-container {
    cursor: pointer;
    display: block;
    float: left;
    height: 48px;
    width: fit-content;

    @media (max-width: $desktop-width) {
        height: 37px;
        margin-top: 7px;
    }

    @media (max-width: $mobile-width) {
        height: 37px;
        margin-top: 0;
    }
}

#header-menu-btn {
    cursor: pointer;
    display: none;
    float: right;
    padding: 4px 0 !important;
    
    @media (max-width: $mobile-width) {
        display: block;
    }
}

#header-menu-btn:hover {
    margin-bottom: -1px;
}

#header-menu-btn-img {
    height: 26px;
    width: auto;
}

.journal-list-pad {
    border-top: 1px solid $separator-color;
    display: block;
    height: 20px;
    margin-top: 20px;
    width: 100%;
}

.journal-list-title {
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 4px;
}

#mobile-menu {
    border-bottom: 1px solid $separator-color;
    display: none;
    margin-top: 34px;

    li {
        margin-bottom: 0 !important;
    }

    li > a > div {
        background: #fff;
        border-top: 1px solid $separator-color;
        padding: 15px 8px;
    }

    li > a > div:hover {
        background: #eee;
    }
}

#no-gen-ai {
    border: 0;
    display: block;
    margin: 50px auto;
    max-width: 75%;
    outline: 0;
    width: 156px;
}

.question {
    color: $accent-blue;
    font-weight: 500;
    margin-bottom: 0.5em;
    margin-top: 1.6em;
    padding-top: 6px;
}

.sep {
    display: block;
    height: $sep-height;
}

#top-banner {
    margin: 10px auto;
    width: 100%;

    a {
        color: #fff;
    }

    div {
        background: #1C3C83;
        background: linear-gradient(90deg, rgba(28, 60, 131, 1) 0%, rgba(27, 92, 117, 1) 25%, rgba(27, 92, 117, 1) 75%, rgba(28, 60, 131, 1) 100%);
        border-radius: 7px;
        color: #fff;
        font-size: 11pt;
        margin: 0 11px;
        padding-top: 10px;
        padding-bottom: 8px;
        text-align: center;
    }
}

.two-column {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;

    @media (max-width: $mobile-width) {
        display: block;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    img {
        @media (max-width: $mobile-width) {
            margin-bottom: 14px !important;
        }
    }
}

.three-column {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;

    img {
        margin: 0 !important;
        padding: 0 !important;
    }

    @media (max-width: $mobile-width) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.warning {
        border-radius: 2px;
        background: #ffe9b4;
        padding-bottom: 1px;
        padding-top: 16px;
    }
    .warning > p {
        color: #6a5f4e !important;
        font-size: 12.5pt;
        line-height: 1.27em;
        padding: 0 20px;
    }

/*I use this when I need a mobile and desktop version of a header*/
.banner-desktop { display: block !important; }
.banner-mobile { display: none !important; }
@media screen and (max-width: 700px) {
    .banner-desktop { display: none !important; }
    .banner-mobile { display: block !important; }
}
